@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

:root {
    --color-hover: #bdae82;
    --color-base: #000;
    --color-text: #fff;
    --color-transparent: rgba(0, 0, 0, 0.7);
    --color-section: #bdae82;
}

/* Обнуление */

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* Обнуление */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--color-base);
}

/* Title */
.section-title {
    background-color: var(--color-base);
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: var(--color-section);
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    width: fit-content;
    letter-spacing: 0em;
}
.line {
    background-image: linear-gradient(to top, var(--color-base) 39px, var(--color-section) 39px, var(--color-section) 41px, var(--color-base) 41px);
    width: 700px;
    margin: 0 auto;
}
.header-container {
    margin: 20px 0;
}
/* Title */

/* Video */
.player {
    position: relative;
    max-width: 1440px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.video {
    width: 100%;
    height: auto;
    border: 1px solid var(--color-section);
    border-bottom: 0;
}
.poster {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("./assets/video-player.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.poster.active {
    display: none;
}
.button_3 {
    position: absolute;
    z-index: 3;
    background-image: url("./assets/svg/Play_hover.svg");
    background-color: transparent;
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s;
    background-position: center center;
    border: 0;
}
.button_3:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.button_3.active {
    display: none;
}
/* Video */

/* Controls */
.controls {
    background-color: var(--color-base);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--color-section);
    border-top: 0;
    height: 60px;
    width: 100%;
    padding: 20px;
}
.play_button {
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.3s;
}
.play_button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.play {
    background-image: url(./assets/svg/play.svg);
}
.pause {
    background-image: url(./assets/svg/pause.svg);
}
.progress {
    background: linear-gradient(to right, var(--color-section) 0%, var(--color-section) 0%, var(--color-text) 0%, var(--color-text) 100%);
    width: 70%;
    height: 10px;
    outline: none;
    border: solid 2px var(--color-section);
    border-radius: 8px;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
.progress::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: var(--color-section);
}
.volume_button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    background-position: center center;
    background-repeat: no-repeat;
}
.volume_button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.volume_on {
    background-image: url(./assets/svg/volume.svg);
}
.mute {
    background-image: url(./assets/svg/mute.svg);
}
.volume {
    display:inline-block;
    background: linear-gradient(to right, var(--color-section) 0%, var(--color-section) 30%, var(--color-text) 30%, var(--color-text) 100%);
    cursor:pointer;
    width: calc(20% - 40px);
    height: 10px;
    outline: none;
    border: solid 2px var(--color-section);
    border-radius: 8px;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
.volume::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: var(--color-section);
}
.fullscreen {
    background-image: url(./assets/svg/fullScreen.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    filter: invert(80%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
/* Controls */

.footer-container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-base);
    height: 100px;
}
.footer-git{
    display: flex;
    align-items: center;
    width: 182px;
    height: 50px;
    color: var(--color-text);
    padding-left: 20px;
}
.footer-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: var(--color-text);
    margin-right: 20px;
}
.link {
    color: var(--color-text);
    transition: 0.5s;
}
.link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

