@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

:root {
    --color-hover: #bdae82;
    --color-base: #000;
    --color-text: #fff;
    --color-transparent: rgba(0, 0, 0, 0.7);
    --color-section: #bdae82;
}
.switch-theme {
    --color-base: #fff;
    --color-text: #000;
    --color-transparent: rgba(255, 255, 255, 0.85);
    --color-section: #000;
}
/* Обнуление */

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* Обнуление */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--color-base);
}
.section {
    background-color: var(--color-base);
}

.header-container {
    background-color: var(--color-transparent);
    position: fixed;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center 0;
}
.nav {
    margin-left: auto;
}
.nav-list {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    padding-left: 30px;
    padding-right: 30px;
}
.nav-item {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    font-family: 'Inter', sans-serif;
}
.nav-link {
    color: var(--color-text);
    transition: 0.5s;
}
.nav-link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.logo {
    height: 50px;
    width: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.logo.light {
    filter: invert(100%) sepia(3%) saturate(22%) hue-rotate(314deg) brightness(106%) contrast(91%);
}
.logo.light:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.lang {
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-text);
    display: flex;
    gap: 10px;
}
.lang-en {
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
.lang-en.active {
    color: #BDAE82;
}
.lang-ru {
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
.lang-ru.active {
    color: #BDAE82;
}
.rightside {
    display: flex;
}
.buter_brodskiy {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 50px;
    height: 5px;
    margin: 5px auto;
    background: var(--color-text);
    transition: all 0.4s;
}
.shadow-box {
    display: none;
}

/*Switch Theme*/
.switch-button {
    background: transparent;
    filter: invert(7%) sepia(33%) saturate(299%) hue-rotate(338deg) brightness(102%) contrast(102%);
    margin-left: 20px;
    background-image: url(./assets/svg/carbon_sun.svg);
    height: 45px;
    width: 45px;
    transition: 0.3s;
}
.switch-button:hover {
    cursor: pointer;  
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.switch-button.light {
    background-image: url(./assets/svg/Vector_dark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    filter: invert(99%) sepia(22%) saturate(2976%) hue-rotate(357deg) brightness(102%) contrast(63%);
}
.switch-button.light:hover {
    filter: invert(77%) sepia(11%) saturate(827%) hue-rotate(7deg) brightness(89%) contrast(91%);
}

.hero-container {
    background-image: url(./assets/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 910px;
}
.hero-container.light {
    background-image: url(./assets/img/bg_light.jpg);
    background-position: center;
}
.hero-block {
    height: 330px;
    max-width: 550px;
    padding-left: 80px;
    padding-top: 250px;
}
.photo-name {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: var(--color-text);
}
.description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-text);
    margin: 10px 0 25px 0;
}
.hire {
    background: var(--color-hover);
    border-radius: 0px;
    height: 55px;
    width: 220px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: var(--color-base);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 280px;
    cursor: pointer;
    border: 0;
    transition: 0.5s;
}
.hire:hover {
    color: var(--color-text);
}

.section-title {
    background-color: var(--color-base);
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: var(--color-section);
    text-align: center;
    margin: 0 auto;
    padding: 100px 20px 0;
    width: fit-content;
    letter-spacing: 0em;
}
.line {
    background-image: linear-gradient(to top, var(--color-base) 39px, var(--color-section) 39px, var(--color-section) 41px, var(--color-base) 41px);
    width: 700px;
    margin: 0 auto;
}
.skills-items {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--color-base);
}
.skill-item {
    height: 240px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: var(--color-text);
    padding: 0 40px 0 40px;   
}
h3 {
    margin: 50px 0 20px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.season-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 60px 0;
    gap: 5px;
}
.button_1 {
    background: var(--color-hover);
    border-radius: 0px;
    height: 55px;
    width: 220px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: var(--color-base);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    transition: 0.5s;
}
.button_1:hover {
    color: var(--color-text);
}
.button_2 {
    background: var(--color-base);
    border: 2px solid var(--color-hover);
    border-radius: 0px;
    height: 55px;
    width: 220px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: var(--color-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.button_2:hover {
    color: var(--color-text);
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.season-button {
    background: var(--color-base);
    border: 2px solid var(--color-hover);
    border-radius: 0px;
    height: 55px;
    width: 220px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: var(--color-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.season-button:hover {
    color: var(--color-text);
}
.season-button_active {
    background: var(--color-hover);
    color: var(--color-base);
    border: 0;
    height: 55px;
    width: 220px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    transition: 0.5s;
}
.season-button_active:hover {
    color: var(--color-text);
}
.image {
    width: 450px;
    height: 560px;
}

#video_id {
    margin-bottom: 60px;
}
.video {
    background-image: url("./assets/img/video-player.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 1400px;
    height: 705px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_3 {
    background-image: url("./assets/svg/Play_hover.svg");
    background-color: transparent;
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    transition: 0.5s;
    background-position: 0 0;
    border: 0;
}
.button_3:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.player {
    width: 150px;
    height: 150px;
}

.section-price {
    padding-bottom: 100px;
    background: var(--color-base);
}
.text_block {
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: var(--color-text);
}
.price-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    padding-top: 60px;
    width: 100%;
    flex-wrap: wrap;
}
.price-item {
    padding-top: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 450px;
    height: 505px;
    border: 2px solid var(--color-hover);
    border-radius: 0px;
    text-align: center;
}
.rate {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    color: var(--color-text);
    margin: 0;
}
.money {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: var(--color-hover);
    margin: 0;
}
#order {
    margin-top: 20px;
}

.contact-container {
    background-image: url(./assets/img/contacts.jpg);
    background-size: auto 700px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    justify-content: flex-end;
}
.contact-container.light {
    background-image: url(./assets/img/contacts_light.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}
.contact-title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: var(--color-section);
    text-align: start;
}
.feedback {
    margin-top: 81px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 445px;
}
form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.email {
    background: transparent;
    border: 2px solid var(--color-hover);
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    transition: 0.5s;
}
input.email {
    color: var(--color-hover);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 18px;
    width: 450px;
}
.email::placeholder {
    font-family: inherit;
    color: var(--color-hover);
    font-size: 20px;
  }
.tel {
    background: transparent;
    border: 2px solid var(--color-hover);
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    transition: 0.5s;
 }
input.tel {
    color: var(--color-hover);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 18px;
    width: 450px;
 }
.tel::placeholder {
    font-family: inherit;
    color: var(--color-hover);
    font-size: 20px;
} 
textarea {
    padding-left: 18px;
    background: transparent;
    border: 2px solid var(--color-hover);
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 450px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    transition: 0.5s;
    margin-bottom: 10px;
    color: var(--color-hover);
    resize: none
 }
::placeholder {
    font-family: 'Inter', sans-serif;
    color: var(--color-hover);
    font-size: 20px;
    padding-top: 3px;
} 
:focus::placeholder {
    color: transparent;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content:space-between;
    background: var(--color-base);
    height: 150px;
}
.footer-git{
    display: flex;
    align-items: center;
    gap:20px;
    width: 182px;
    height: 50px;
    color: var(--color-text);
    padding-left: 20px;
}
.footer-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: var(--color-text);
    text-align: center;
}
.social-items {
    padding-right: 20px;
}
.social {
    display: flex;
    gap: 20px;
}
.social-icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transition: 0.5s;
    cursor: pointer;
}
.social-icon.light {
    filter: invert(100%) sepia(3%) saturate(22%) hue-rotate(314deg) brightness(106%) contrast(91%);
}
.social-icon.light:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.link {
    color: var(--color-text);
    transition: 0.5s;
}
.link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
#rss {
    padding-left: 27px;
}

/*Media Queries*/

@media (max-width: 1400px) {
.price-items {
    flex-direction: column;
}
}

@media (max-width: 1024px) {
.section-title {
    font-size: 32px;
}
.line {
    max-width: 364px;
}
}

@media (min-width: 769px) and (max-width: 850px) {
.skills-items {
    gap: 35px;
    padding-top: 45px;
    max-width: 800px;
    margin: 0 auto;
}
.skill-item {
    flex-basis: 350px;
}
}

@media (max-width: 768px) {
.rightside {
    margin-right: 45px;
    gap: 25px;
}
.light-switch-button {    
    margin-left: 0;
}
.buter_brodskiy {
    display: block;
    z-index: 5;
}
.buter_brodskiy:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.bar {
    width: 50px;
    height: 3px;
    display: block;
    background: var(--color-text);
    margin: 10.5px 0;
}
.buter_brodskiy.active .bar:nth-child(2) {
    opacity: 0;
}
.buter_brodskiy.active .bar:nth-child(1) {
    transform: translateY(12.5px) rotate(45deg);
}
.buter_brodskiy.active .bar:nth-child(3) {
    transform: translateY(-12.5px) rotate(-45deg);
}
.shadow-box.active {
    background:#000;
    opacity:0.5;
    display: block;
    z-index: 3;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.nav {
    z-index: 4;
    position: fixed;
    right: -620px;
    gap: 0;
    top: 0;
    background-color: var(--color-base);
    background-size: auto;
    width: 620px;
    height: 100%;
    text-align: flex-start;
    transition: all 0.3s;
}
.nav-list {
    flex-direction: column;
    margin-top: 135px;
    margin-left: 95px;
    gap: 16.5px;
    justify-content: flex-start;
}
.nav-item {
    font-size: 35px;
    line-height: 72px;
}
.nav.active {
    right: 0;
}
.lang {
    position: center center;
}
.logo {
    margin-left: 40px;
}

.hero-container {
    height: 590px;
    background-position: -5px -30px;
    background-size: auto 620px;
}
.hero-block {
    padding-top: 167px;
    padding-left: 60px;
}
.photo-name {
    font-weight: normal;
    font-size: 32px;
    line-height: 64px;
}
.description {
    max-width: 390px;
    font-size: 20px;
    line-height: 24.2px;
    padding-top: 10px;
}
.hire {
    margin-top: 60px;
}

.section-title {
    font-size: 32px;
    padding-top: 80px;
}
.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-items {
    display: flex;
    align-items: center;
    max-width: 728px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 45px;
}
.skill-item {
    max-width: 325px;
    flex-basis: auto;
}
.skill_p {
    width: 280px;
    line-height: 22px;
}
h3 {
    margin-top: 30px;
}

#portfoto {
    padding-top: 104px;
}
#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line {
    max-width: 364px;
}
.season-buttons {
    max-width: 445px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.video {
    background-image: url(./assets/img/video-adaptive.jpg);
    height: 418px;
    width: 100%;
}
#video_id {
    margin-bottom: 50px;
}
.button_3 {
    background-image: url("./assets/svg/play-btn_adaptive.svg");
    display: flex;
    transition: 0.5s;
    width: 75px;
    height: 75px; 
    margin-left: 0;
}

.price-items {
    flex-direction: column;
    padding-top: 50px;
    gap: 50px;
}
.price-item {
    padding-top: 40px;
    width: 420px;
}
#order {
    margin-top: 20px;
}
.section-price {
    padding-bottom: 70px;
}

.contact-container {
    background-position: -230px 10px;
    background-size: auto 600px;
    justify-content: center;
    max-height: 610px;
}
.contact-title {
    text-align: center;
    font-size: 32px;
}
.feedback {
    margin-right: 0;
    margin-top: 86px;
}
form {
    align-items: center;
    margin-top: 55px;
}
input.email {
    width: 100%;
}
input.tel {
    width: 100%;
}
textarea {
    width: 100%;
}

.footer-container {
    flex-direction: column;
    justify-content: center;
    height: 190px;
}
.footer-git {
    margin-top: 30px;
    padding-left: 0;
    gap: 23px;
}
.footer-text {
    line-height: 24.2px;
    margin-bottom: 18px;
}
#rss {
    padding-left: 0px;
}
.social-items {
    padding-top: 8px;
    margin-bottom: 40px;
    padding-right: 0;
}
}

@media (max-width: 750px) {
.header-container {
    background-position: -150px -30px;
    background-size: auto 620px;
}
.hero-container {
    background-position: -150px -120px;
}
}

@media (max-width: 700px) {
.nav {    
    max-width: 620px;
    width: 100%;
    height: 100%;
}
}

@media (max-width: 480px) {
.header-container {
    background-position: -400px -30px;
}

.hero-container {
    height: 500px;
    background-position: -420px -120px;
}

.season-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio-items {
    gap: 45px;
}
.image {
    width: 80%;
    height: auto;
}

.price-item {
    width: 80%;
    height: auto;
}
#order {
    margin-bottom: 40px;
}
}

@media (max-width: 450px) {
.line {
    max-width: 250px;
}
.skill-item {
    padding: 0;
    flex-basis: 0;
}
}

@media (max-width: 350px) {
.logo {
    padding-left: 20px
}
.rightside {
    margin-right: 25px;
}
}

