@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* font-family: 'Play', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #c0c0c0;
}

canvas {
    display: block;
    margin: 0 auto;
    position: relative;
}

/* Header */
.header-container {
    background-color: #8efff9;
    margin: 0 auto;
    max-width: 1200px;
    height: 90px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
    padding-left: 45px;
}

.logo {
    background-image: url(./assets/images/Pembroke_Jump.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
}

/*Mute */
.mute-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.mute {
    background-color: #1e6743;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    width: 80px;
    height: 50px;
    font-family: 'Play', sans-serif;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
    outline: 4px solid white
}
/*Mute */

.controls {
    text-align: center;
}

.tips {
    display: flex;
    gap: 40px;
}

.tip {
    font-family: 'Play', sans-serif;
    color: #1e6743;
    font-style: normal;
    font-size: 18px;
}

.letter {
    font-family: 'Play', sans-serif;
    color: #0e21c7;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.arrow {
    color: #F59C25;
    font-weight: bold;
    font-size: 18px;
}

.conditions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.points {
    width: 280px;
    display: flex;
    align-items: center;
}

.task {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #0e21c7;
}

.example {
    background-image: url(./assets/images/Sheep!.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.donut {
    background-image: url(./assets/images/Donut.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.bone {
    background-image: url(./assets/images/Bone.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.coat {
    background-image: url(./assets/images/redCoat.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

/* Header */

/* Records */
.wrapper {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

.popup {
    width: 1200px;
    margin: 0 auto;
}

.result_block {
    margin-top: 100px;
    width: 350px;
    background-color: rgba(181, 196, 190, 0.7);
    padding: 40px;
    text-align: center;
    font-size: 23px;
    color: #0e21c7;
}

.wrapper.active {
    display: block;
}

.result_block table {
    width: 100%;
}

/* Records */

/* Footer */
.footer-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 63px;
    background-color: #49a174;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-git {
    display: flex;
    align-items: center;
    width: 182px;
    padding-left: 20px;
}

.footer-text {
    font-family: 'Play', sans-serif;
    color: antiquewhite;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    margin-right: 20px;
}

.rss {
    width: 100px;
    height: 50px;
    background-image: url("./assets/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(92%) sepia(13%) saturate(524%) hue-rotate(329deg) brightness(103%) contrast(96%);
    transition: 0.5s;
    margin-right: 20px;
}

.rss:hover {
    filter: invert(90%) sepia(77%) saturate(3235%) hue-rotate(301deg) brightness(94%) contrast(99%);
}

.link {
    color: antiquewhite;
    transition: 0.5s;
}

.link:hover {
    filter: invert(0%) sepia(77%) saturate(3235%) hue-rotate(301deg) brightness(94%) contrast(99%);
}

/* Footer */

/* Modal window */
.modal-window {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-window.active {
    display: block;
}

.modal-content {
    background-color: #49a174;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    margin-top: 25%;
    position: absolute;
    top: -250px;
    margin-left: 50%;
    left: -300px;
}

.modal-skins {
    display: flex;
    gap: 80px;

}

.modal-skins__item {
    display: block;
    width: 200px;
    height: 200px;
}

.modal-skins__wrapper {
    border: 5px solid antiquewhite;
    border-radius: 70px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.modal-skins__wrapper:hover {
    border-color: #8efff9;
    background-color: rgba(181, 196, 190, 0.7);
}

.modal-title {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 30px;
    color: #F59C25;
}

.modal-subtitle {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: antiquewhite;
}

/* Modal window */

/* Start tip */
.key-wrapper {
    position: absolute;
    z-index: 3;
    display: none;
    top: 83%;
    left: 38%;
}

.key-wrapper.active {
    display: block;
}

@keyframes gradient {
    0% {
        color: #F59C25;
    }

    50% {
        color: #49a174;
    }

    100% {
        color: #F59C25;
    }
}

.key-item {
    margin: 0 auto;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: antiquewhite;
    animation: gradient 3s infinite;
}
    /* Start tip */

    /*
    @keyframes slidebg {
    to {
        background-position: 140px;
    }
}

.title {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius: 5px;
    height: 50px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #F59C25;
    animation: slidebg 2.1s linear infinite;
}

.title:after {
    content: attr(alt);
    width: 150px;
    height: 40px;
    background-color: #1e6743;
    display: flex;
    align-items: center;
    justify-content: center;
} 
*/