@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Roboto:ital,wght@0,700;1,300&display=swap');
/* font-family: 'IBM Plex Sans Thai Looped', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    --color-hover: #fff;
    --color-text: #EAF0F5;
    --color-base: #191919;
    --rainbow: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    --light-speed: linear-gradient(90deg, #EAF0F5 0%, #EF5B99 40%, #A9B1E3 80%, #EAF0F5 100%);
    --color-transparent: rgba(0, 0, 0, 0.7);
    --color-space: #A9B1E3;
    --color-magic: #EF5B99;
    --color-positive: #0EB927;
    --color-negative: #DD3E07;
    --color-neutral: #808080;
    --color-date: #4FAFB4;
}
/* Обнуление */

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* Обнуление */

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./assets/space_bg.jpg);
    background-attachment:fixed;
    background-position: center center;
    background-size: cover;
}

@keyframes slidebg {
    to {
      background-position:110px;
    }
}

/* Header */
.header-wrapper {
    height: 60px;
    width: 100%;
    background: var(--color-transparent);
    position: fixed;
    z-index: 5;
}
.header-container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-end;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center 0;
}
form {
    display: flex;
    gap: 20px;
}
.search {
    background: transparent;
    border: 3px solid var(--color-space);
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 500px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding-left: 18px;
    font-size: 20px;
    transition: 0.5s;
    color: var(--color-space);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 18px;
    padding-right: 10px;
    width: 450px;
}
.search::placeholder {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: var(--color-space);
    font-size: 20px;
}
.find {
    background-image: var(--rainbow);
    border-radius:5px;
    height: 40px;
    width: 120px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: var(--color-space);
    cursor: pointer;
    transition: 0.5s;
}
.find:after {
    content:attr(alt);
    width:110px;
    height:35px;
    background-color: var(--color-base);
    display:flex;
    align-items:center;
    justify-content:center;
}
.find:hover {
    color: var(--color-hover);
    animation:slidebg 2s linear infinite;
}
/* Header */

/* Main */
main {
    padding-top: 80px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    padding-bottom: 40px;
}
/* Main */

/* Footer */
.footer-wrapper {
    height: 50px;
    width: 100%;
    background: var(--color-transparent);
}
.footer-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.footer-git{
    display: flex;
    align-items: center;
    width: 182px;
    color: var(--color-space);
    padding-left: 20px;
}
.footer-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-space);
    margin-right: 20px;
}
.rss {
    width: 100px;
    height: 40px;
    background-image: url("./assets/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(72%) sepia(43%) saturate(374%) hue-rotate(197deg) brightness(94%) contrast(89%);
    transition: 0.5s;
    margin-right: 20px;
}
.rss:hover {
    filter: invert(20%) sepia(77%) saturate(3235%) hue-rotate(301deg) brightness(94%) contrast(99%);
}
.link {
    color: var(--color-space);
    transition: 0.5s;
}
.link:hover {
    filter: invert(90%) sepia(77%) saturate(3235%) hue-rotate(301deg) brightness(94%) contrast(99%);
}
/* Footer */

/* added JS */
.movie {
    margin: 20px;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    position: relative;
    cursor: pointer;
    text-align: center;
    perspective: 600px; 
    transition: all 0.6s
}
.movie:hover {
    transform: translateY(-20px);
}
.movie-content {
    transition: transform 0.6s;
    flex: 1;
}
.movie-content.active {
    transform: rotateY(-180deg);
    transition: transform 0.7s;
}
.front {
    transition: all 0.7s;
    opacity: 1;
    display: flex;
    flex-direction: column;
    visibility: visible;
    background-color: var(--color-transparent);
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.front.active {
    transform: rotateY(-180deg);
    transition: transform 0.6s;
    visibility: hidden;
    opacity: 0;
}
.back {
    background-color: var(--color-transparent);
    position: absolute;
    overflow: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;   
    padding: 15px;
    text-align: center;   
    transition: all 0.7s;
    border-radius: 20px;
}
.back.active {
    opacity: 1;
    visibility: visible;
    transform: rotateY(-180deg);
}
.back-text {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: var(--color-text);
    padding: 10px 10px;
}
.back-title {
    color: var(--color-space);
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
.movie img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.movie-title {
    color: var(--color-text);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    letter-spacing: 0.5px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
}
.movie-info {
    color: var(--color-date);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300px;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 10px 10px;
}
.green {
    background-color: var(--color-positive);
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15px; right: 15px; top: 15px; bottom: 15px;
}
.red {
    background-color: var(--color-negative);
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15px; right: 15px; top: 15px; bottom: 15px;
}
.gray {
    background-color: var(--color-neutral);
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15px; right: 15px; top: 15px; bottom: 15px;
}
/* added JS */

@media (max-width: 1419px) {
    .header-container {
        max-width: 1300px;
    }
    main {
        max-width: 1150px;
        gap: 50px;
    }
    .footer-container {
        max-width: 1300px;
    }
    }


    }
    @media (max-width: 768px) {
        .header-container {
            max-width: 700px;
        }
        main {
            max-width: 700px;
            gap: 10px;
        }
        .footer-container {
            max-width: 700px;
        }
        .search {
            max-width: 300px;
        }
    }

    @media (max-width: 610px) {
        .search {
            max-width: 280px;
        }
    }
    @media (max-width: 450px) {
        .search {
            max-width: 170px;
        }
    }